<%= error_messages_for :user, :header_message => "We had some problems in sending you your reset password link." %>

<div class="middlebox">
  <h1>Forgot password, just need your email id</h1>
   
  <% form_for @user, :url => {:controller => 'users', :action => 'process_forgot_password'} do |f| %>
    <ul class = "displaylist">
      <li>
        <span><%= f.label :email %></span>
        <%= f.text_field :email %>
      </li>
      <li>
        <div>
            <div style="width:150px;float:left;">
              <label>Captcha image</label>
            </div>
            <div>
              <%= recaptcha_tags %>
            </div>
        </div>
      </li>
      <li>
        <span></span>
        <%= f.submit "Submit" %>&nbsp;<div class="actionlink"><%= link_to 'Cancel', login_path %></div>
      </li>  
    </ul>
  <% end %>
</div>
