<%= error_messages_for :user, :header_message => "Please Try Again!", :message => "We had some problems in sending you your reset password link." %>

<div class="middlebox">
  <h1>Forgot password, just need your email id</h1>
   
  <% form_for @user, :url => {:controller => 'users', :action => 'process_forgot_password'} do |f| %>
    <ul class = "displaylist">
      <li>
        <span><%= f.label :email %></span>
        <%= f.text_field :email %>
      </li>    
      <%= f.submit "Submit" %>&nbsp;<div class="actionlink"><%= link_to 'Cancel', login_path %></div>
    </ul>
  <% end %>
</div>
