<h1>Forgot password, just need your email id</h1>
 
<% form_for @user, :url => {:controller => 'users', :action => 'process_forgot_password'} do |f| %>
  <%= f.error_messages %>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.submit "Submit" %>
<% end %>

<br />
<%= link_to 'Login', login_path %>
