<div class="middlebox">
  <h1>Enter a new password</h1>
   
  <% form_for @user, :url => {:controller => 'users', :action => 'reset_password', :id => @user.id} do |f| %>
    <%= f.error_messages %>
    <ul class = "displaylist">
    <li>
      <span><%= f.label :password %></span>
      <%= f.password_field :password %>
    </li>
    <li>
      <span><%= f.label :confirm_password %></span>
      <%= f.password_field :password_confirmation %>
    </li>
    <li>
      <span></span>
      <%= f.submit "Reset" %>&nbsp;<div class="actionlink"><%= link_to 'Cancel', login_path %></div>
    </li>
    </ul>
  <% end %>
</div>

