<h1>Enter a new password</h1>
 
<% form_for @user, :url => {:controller => 'users', :action => 'reset_password', :id => @user.id} do |f| %>
  <%= f.error_messages %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <%= f.submit "Reset" %>
<% end %>
 
<br />
<%= link_to "Register", new_account_path %> |
<%= link_to 'Login', login_path %>
